<% @participant ||= participant%>
<%= turbo_frame_tag @participant do %>
  <p><%= @participant.name %></p>
  <div class="avatar">
    <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
    <%= link_to 'leave', challenge_participant_path(@participant), method: :delete, class: 'btn btn-danger' %>
  </div>

<% end %>