<div id="<%= dom_id challenge_story %>" class="w-full sm:w-auto my-5 space-y-5">

  <h1 class="font-bold text-4xl">
    <%= challenge_story.title %>
  </h1>

  <div class="avatar-group -space-x-6">
    <% ChallengeParticipant.where(challenge_story: challenge_story).each do |participant| %>
      <div class="avatar">
        <div class="w-12">
          <%= image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(participant.name)}?s=80&d=identicon", alt: "participant avatar", class: "rounded-full" %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= simple_format challenge_story.description %>
  </div>

</div>
