<% content_for :title, "New challenge story" %>
<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    Start a new challenge
  </h1>
  <%= render "form", challenge_story: @challenge_story %>
  <%= link_to(
    "Back to challenge stories", 
    challenge_stories_path, 
    class: "btn btn-soft" 
  )
  %>
</div>
