<div class="mdc-snackbar js-messenger">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label" role="status" aria-live="polite">
    </div>
    <div class="mdc-snackbar__actions">
      <%# <button type="button" title="dismiss" class="mdc-icon-button material-icons mdc-snackbar__dismiss">close</button> %>
    </div>
  </div>
</div>