<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "Strivo", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex gap-2">
    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
  </div>
</div>