<% if current_user %>
  <%= link_to credentials_path do %>
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar" data-action="menu#open">
      <div class="w-10 rounded-full">
        <%= image_tag "https://api.dicebear.com/9.x/avataaars-neutral/svg?seed=#{current_user.username}&options[skinColor]=random&size=80", alt: current_user.username, class: "rounded-full" %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to  new_webauthn_registration_path do  %>
    <div class="dropdown dropdown-end dropdown-top">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
        </div>
      </div>
    </div>
  <% end %>
<% end %>
